@charset "UTF-8";
@font-face {
    font-family: 'VarelaRound';
    src: url("/font/VarelaRound-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VarelaRound';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: -Scroll;
    overflow: hidden;
    min-height: 100vh;
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(https://ylovexln.oss-cn-hangzhou.aliyuncs.com/819506.png);
    /*background-image: url(https://ylovexln.oss-cn-hangzhou.aliyuncs.com/819506.png) ;*/
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    cursor: default;
    /*grid布局*/
    display: grid;
    grid-template-columns: 1fr;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: -10px;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 25px;
    /* justify-content: center; */
    align-content: center;
    /* text-align: center; */
    width: 650px;
    height: 320px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    transform: scale(1.2);
}

.avatar {
    margin-top: -120px;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    transition: 1s;
    transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}

.avatar:hover {
    transition: 1s;
    transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -webkit-transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    transform: rotate(360deg) scale(1.2);
}

.title {
    text-align: center;
    width: 80%;
    font-size: 2.5em;
    font-family: 'VarelaRound';
    color: #FF6666;
}

.motto {
    font-family: 'VarelaRound';
    text-align: center;
    width: 69%;
    height: 30px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    border-radius: 10px;
    background-color: #FF9966;
    font-family: 'VarelaRound';
}

nav {
    text-align: center;
}

.menu-one-ul {
    width: 100%;
    /*word-spacing标签和单词的间距*/
    word-spacing: 30px;
    /*字体间距*/
    letter-spacing: 3px;
    line-height: normal;
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 10px 10px;
    overflow: hidden;
    background-color: #f6f9ff;
    cursor: default;
}

.menu-one li {
    display: inline-block;
    text-align: center;
    line-height: 1;
    z-index: 2;
}

.menu-one a {
    color: #9999FF;
    font-weight: bold;
    transition: color 1.2s;
}

.menu-one a:hover {
    color: #ff939e;
    cursor: pointer;
}

.menu-tow {
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    list-style: none;
    /*visibility: hidden;*/
    z-index: -1;
    background-color: #ff8b9f;
    vertical-align: bottom;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.menu-tow:hover {
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-family: 'VarelaRound';
    font-size: 1.0em;
    z-index: 100;
}

footer a {
    color: #000;
}

footer a:hover {
    color: #ff8b9f;
}


/*媒体查询响应式*/

@media only screen and (max-width: 800px) {
    .container {
        transform: scale(1.1)
    }
    .title {
        font-size: 6.59vw;
    }
}

@media only screen and (max-width: 690px) {
    .container {
        width: 98vw;
        transform: scale(1)
    }
    .title {
        font-size: 4.59vw;
    }
    .motto {
        height: 30px;
    }
    ;
}

@media only screen and (max-width: 500px) {
    .container {
        width: 98vw;
        height: 280px;
        row-gap: 15px;
        transform: scale(1)
    }
    .title {
        font-size: 1.8em;
    }
    .motto {
        font-size: 1.0em;
        width: 80%;
        height: 50px;
    }
    .menu-one-ul {
        width: 70%;
    }
    footer {
        font-size: 4.3vw;
    }
}